@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Josefin Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #292E36;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    margin-top: 10px;
    text-align: center;
    color: #E1B168
}
.main{
    display:flex;
}
.main-return{
    color: #E1B168;
    border-radius: 0.5rem;
    background-color: #343942;
    padding: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.main-return a{
    font-size: 20px;
    text-decoration: none;
    color:#E1B168;
}
.main-menu p{
    margin-left: 585px;
    font-size: 20px;
    margin-bottom: 12px;
}
.search-results h2{
    font-size: 40px;
    margin-bottom: 8px;
}
section{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#results-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.recipe-item{
    padding: 20px;
    background-color: #343942;
    color: #E1B168;
    border-radius: 1rem;
}
.recipe-item h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.recipe-item img{
    border-radius: 0.7rem;
}

